snippet h
	<!doctype html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>${1:title}</title>

			<link rel="stylesheet" type="text/css" href="/css/main.css" />

			<script src="/js/main.js"></script>
		</head>
		<body>
			${2:body}
		</body>
	</html>
