[user]
  name = Felix Geisendörfer
  email = felix@felixge.de
[alias]
  dot = commit -m "."
  hack = commit -a -m "hack"
  ci = commit
  cp = cherry-pick
  st = status
  co = checkout
  up = pull --rebase
  sup =! git stash && git up && git stash apply
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --pretty='format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred %Creset%s'
  top = shortlog -ns --no-merges
  kdiff = difftool --no-symlinks --dir-diff
[branch]
  sort = -committerdate
[rerere]
  enabled = 1
[core]
  excludesfile = ~/.gitignore
	commitGraph = true
  #pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
	autoSetupRemote = true
[commit]
	verbose = false
[diff]
  tool = kitty
  guitool = kitty.gui
  mnemonicPrefix = true # https://github.com/tpope/vim-fugitive/discussions/1649
  colormoved = "default"
  colormovedws = "allow-indentation-change"
[difftool]
  prompt = false
  trustExitCode = true
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
  cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[log]
  date = iso
[http]
	cookiefile = /Users/felix.geisendoerfer/.gitcookies
[init]
  defaultBranch = main
[credential]
  helper = osxkeychain
[interactive]
  #diffFilter = diff-so-fancy --patch
[color "diff"]
	commit = yellow bold
	meta = blue
	frag = magenta bold
	func = 146 bold
	old = red bold
	new = green bold
	whitespace = brightred reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color]
	ui = true

# [url "git@github.com:"]
# 	insteadOf = https://github.com/
# 	insteadOf = git://github.com/
#[url "ssh://git@github.com/"]
    #insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/

[delta]
  line-numbers = true
  hyperlinks = true
  hyperlinks-file-link-format = "cursor://file/{path}:{line}"
  side-by-side = true
  navigate = true
  pager = "less -FRX"
  light = true