# hide these from rg/telescope/etc.
/.git
/.gitignore
/vim/.config*/nvim/plugged
/vim/.config*/nvim/plugin/packer_compiled.lua

# don't check in secret git config files
/git/.gitconfig.*
/claude/.claude/*
!/claude/.claude/settings.json
!/claude/.claude/skills

# jj exclude repo configs
jj/.config/jj/repos/*
